h1{
  color: cyan;
}
.card{
  margin-top: 15px;
}
nav{
  text-decoration: none;
  
  background-color: #C0B3A0;
}

a{
color: #22252C;
text-decoration: none;
font-family: 'Bungee Inline', cursive;

}

.logo{
  font-family: 'Bungee Shade', cursive;
  font-size: x-large;
  font-weight: bolder;
}

a:hover{
  color: #22252C;
  text-decoration: none;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

button{
   background-color: #22252C;
  
}

button i{
   color: #E14658;
}

.navbar-toggler{
  background-color: #22252C;
}