{%extends 'base.html'%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-1"> </div>
    {%for picture in picture_list%}

    <div class="col-md-4">

      <!-- Card Regular -->

      <div class="card ">

        <!-- Card image -->
        <div class="view view-cascade">
          <img class="img img-fluid" src="{{picture.image.url}}" data-toggle="modal"
          data-target="#modal{{picture.id}}">
         
        </div>

        <!-- Card content -->
       
      </div>
      <!-- Card Regular -->

    </div>
    <!-- Button trigger modal-->


<!--Modal: modalYT-->
<div class="modal fade" id="modal{{picture.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">

          <img class="img img-fluid" src="{{picture.image.url}}">
    

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">{{picture.pic_desc}}</span>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: modalYT-->
    {%endfor%}
    <div class="col-md-1"></div>
  </div>
</div>

{%endblock%}