<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand logo" href="#">Galleria</a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Categories
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          {%for categories_item in categories%}
          <a class="dropdown-item" href="{% url 'view_by_category' categories_item.pk %}">{{categories_item.name}}</a>
          {%endfor%}
        </div>
      </li>
    </ul>
    <!-- Links -->
    <form class="form-inline"role="search" action="">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" name = "picture" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
</nav>